
/* ==================  BASE-Global Styles ================ */
:root{
  --color-white: #fff;
  --color-black: #000; 
  --color-dark-gray: #10100e;
  --color-yellow: #ffff00;

  --font-family-main: sans-serif;

  --border-radius-small: 3px;

  --spacing-medium: 20px;

  --font-size-header: 26px;
}


body {
  padding: 0;
  margin: 0;
  background-color: #10100e;
  font-family: var(--font-family-main);
} 
